@model UrlViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 80px;">
    <h2>Welcome</h2>
    
    <div>
        <form asp-controller="Home" asp-action="Index" method="post">
            Url:  <input asp-for="Url" /> <br />
            <button type="submit">Find keywords!</button>
        </form>
    </div>
</div>